<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!-- 桌面快捷方式组件 -->
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="8A9F5C3D-1E2B-4F7A-9D6C-2E8B4A7F3C1D">
        <Shortcut Id="DesktopShortcut"
                  Name="MatrixIt"
                  Description="MatrixIt - 文献管理工具"
                  Target="[APPLICATIONFOLDER]MatrixIt.exe"
                  WorkingDirectory="APPLICATIONFOLDER" />
        <RegistryValue Root="HKCU"
                       Key="Software\MatrixIt"
                       Name="DesktopShortcut"
                       Value="1"
                       Type="integer"
                       KeyPath="yes" />
        <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
